/*  rooms fitler*/
.filterContainer {
    padding: 5rem 0;
  }
  .filterForm {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
  }
  .formGroup {
    text-transform: capitalize;
  }
  .formGroup label {
    display: block;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 0.5rem;
  }
  .formControl {
    font-family: inherit;
    padding: .3rem;
    height: 2rem;
    width: 100%;
    background: transparent;
    font-size: 1rem;
    border: solid 2px var(--primaryColor);
  }

  input[type="range"].formControl {
      -webkit-appearance: none; 
      padding: 0;
      outline: none;
      cursor: pointer;
  }
  input[type="range"].formControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: var(--primaryColor);
    cursor: pointer;
  }

  .sizeInputs {
    display: flex;
  }
  .sizeInput {
    width: 40%;
    padding: 0.2rem;
    border: 1px solid var(--primaryColor);
    border-radius: 0.3rem;
    margin-right: 0.3rem;
  }
  .singleExtra label {
    display: inline-block;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  @media screen and (min-width: 776px) {
    .filterForm {
      width: 70vw;
    }
  }
  @media screen and (min-width: 992px) {
    .filterForm {
      width: 95vw;
      max-width: 1170px;
    }
  }
  /* end of rooms fitler*/