/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: var(--mainBlack);
    z-index: 1;
    color: var(--mainWhite);
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .navIcon {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .navLinks {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .navLinks a {
    display: block;
    text-decoration: none;
    color: var(--mainWhite);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
  }
  .navLinks a:hover {
    color: var(--primaryColor);
    transform: scale(0.98);
    
  }
  
  .isActive {
    color: var(--primaryColor) !important;
  }

  .showNav {
    height: 100px;
  }
  @media screen and (min-width: 768px) {
    .navBtn {
      display: none;
    }
    .navCenter {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
    }
    .navLinks {
      height: auto;
      display: flex;
      margin-left: auto;
    }
    .navLinks a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }

  /* end of navbar */