.footer {
    background-color: var(--mainBlack);
    width: 100%;
    height: 20vh;
    position: absolute;
    z-index: 1;
    color: var(--mainWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social a {
    text-decoration: none;
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin: 0.4rem 0.5rem;
}
